*{
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100% ;
}
#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display:flex;
    gap: 30px;

}
#nav a{
    font-weight: 800;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
#nav #centerAtag{
    font-size: 14px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#hero{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;

}
#sustain p{
    text-transform: capitalize;
    font-weight: 800;
    opacity: 0.5;
    font-size: 12px;
    margin: 10px 0;
}
#sustain{
    width: 10vw;
}
#sustain #susimagewrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}
#susimagewrapper img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140%;
    height: 140%;
    object-fit: cover;
}
#ephemeral{
    position: relative;
    width: 30vw;
    min-height: 42vw;
    background-color: rgb(159, 144, 144);
} 
#imgntext{
    width: fit-content;
    height: fit-content;
}
#ephemeral img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ephemeral p{
    font-size: 1.3vw;
    letter-spacing: -0.07vw;
    line-height: 1.3;
    width: 40%;
} 
#ephemeral #heading{
    top: -22%;
    left: -20%;
    position: absolute;
}   
#ephemeral h1{
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#circlev{
    border-radius: 50%;
    border: 2px solid #8d8888;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
}
#circlev i{
    color: #8d8888;
}
#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}
#visit h3{
    font-weight: 400;
    color: #8d8888;
}
#motive{
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#motive p{
    position: relative;
    right: 0;
    width: 80%;
    text-align: right;
    font-size: 2vw;
}
#motive span{
    display: inline-block; 
    width: 120px;
    height: 50px;
    border-radius: 100px;
    background-color: red;  
}