body{
    margin: 0%;
    background-color: rgb(238, 238, 238);
}
#top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vw;
    background-color: rgb(59, 57, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#pages {
    display: flex;
    gap: 20px;
}

#pages a {
    border: 1px solid white;
    border-radius: 7px;
    padding: 3px 10px;
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 10%;
}
#top-nav h1{
    color: aliceblue;
}
#bottom-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4vw;
    background-color: rgb(59, 57, 57);
    display: flex;
    align-items: center;
    justify-content: center;
}
#content-box{
    margin-top: 8vw;     
    margin-bottom: 4vw; 
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 20px;
    border: 2px  gray;
    border-radius: 10px;
    background-color: white;
    font-family: Arial, sans-serif;
}
#boxes input{
    width:30%;
    height: 2.5vw;

}